body{
	background-color: #ff437e ;
}
h1{
	color: #00FFFF;
	margin: 0;
	font-size:  55px;
}
p{
	font-family: Georgia;
}
h2{
	color: #00FFFF;
	border-top: solid 2px #000FFD;
}
ol{
	border-bottom: solid 2px #000FFD;
}